﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Victory.aspx.cs" Inherits="WebApplicationUI.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Agent, you have seen everything in this location. Did you find anything useful?</h1>
</asp:Content>
